# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environment
venv/

# OS-specific
.DS_Store

# Project output
output/
thumbnail/
*.mp4

# IDE/Editor
.vscode/
.idea/

# PyInstaller
*.spec
build/
dist/
